/* main container */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

/* form container */
.form-container {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 600px;
	height: 400px;
	background-color: #f5d361;
	border-width: 5px;
	border-color: '#fff';
	border-radius: 5px;
}

.form-content {
	display: flex;
	flex-direction: column;
}

.form-title {
	font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    text-shadow: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: #444;
}

.form-label {
	font-size: 1em;
	font-family: sans-serif;
}

.form-input {
	padding: 10px;
	margin-top: 10px;
	font-family: sans-serif;
}
